name: Build APK

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Récupérer le code
      - uses: actions/checkout@v3

      # 2️⃣ Installer les dépendances
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip openjdk-11-jdk zip unzip git
          pip install --upgrade pip
          pip install cython buildozer

      # 3️⃣ Compiler l'APK
      - name: Build APK
        run: buildozer -v android debug

      # 4️⃣ Upload de l'APK (upload si le fichier existe)
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
